@page
@model XTM3.Pages.BookingsPages.MyBookingsModel
@{
    ViewData["Title"] = "XTM - My Bookings";
}

<head>
    <link rel="stylesheet" href="~/css/Aviones.css" />
</head>

<body>
    <h3>Hey!</h3>
    <h4>These are your reserved flights</h4>
    <div class="container h-100" style="margin-top:20px;">

        <form method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control" asp-for="SearchTerm" placeholder="Ingresa ID de Avion o Fecha para buscar reservas especificas." />
                </div>
            </div>
        </form>

        <div class="container bigContainer">
            @foreach (var booking in Model.ReservedFlights)
            {

                <div class="row container bigZone">

                    <div class="col zone justify-content-center align-content-center">
                        <div class="col container" style="font-size:30px;">
                            <i class="far fa-bookmark"></i>
                        </div>

                        <div>
                            <h6>Booking ID: @booking.BookingID</h6>
                        </div>

                        <div class="row justify-content-center">
                            <h6>User ID: @booking.UserID</h6>
                        </div>

                        <div class="row justify-content-center">
                            <h6>Passengers: @booking.Passengers</h6>
                        </div>

                        <div class="row justify-content-center">
                            <h6>Date: @booking.Date</h6>
                        </div>

                        <div class="row justify-content-center">
                            <h6>Origin: @booking.OriginCity</h6>
                        </div>

                        <div class="row justify-content-center">
                            <h6>Origin: @booking.DestinyCity</h6>
                        </div>


                    </div>

                </div>


            }
        </div>
    </div>

 </body>
